# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
bzip2
ca-certificates
cffi
colorama
cryptography
libexpat
libffi
libsqlite
libzlib
ncurses
openssl
pip
pwinput
pycparser
python
python_abi
readline
setuptools
tabulate
tk
tzdata
wheel
xz
